<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34095819451-097lkd0iu83a05dnc0q7srhd34k9mbgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34095819451-097lkd0iu83a05dnc0q7srhd34k9mbgi</string>
	<key>API_KEY</key>
	<string>AIzaSyDsMh_0hr4XWJdC4vgFpVelnrPnoiwN9Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>34095819451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs467.fitnessGurusChallenger</string>
	<key>PROJECT_ID</key>
	<string>fitness-gurus-challenger</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-gurus-challenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:34095819451:ios:0bbbac5b69a71b213c179e</string>
</dict>
</plist>
